header { 
  background-color: black 
  background-image: url(img/home.jpg)
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center ; 
  padding: 25% 25% 0 25%;
  margin: 0 0 0 0;
  font-size: 40em !important;
  font-family: din condensed !important; 
  color: white;
  float: left;
}

section {
	font-family: futura !important; 
}

.top {
  text-align: center;
  margin: 0 10% 0 10%;
  font-size: 5em;
  padding: 0 25% 0 25%;
  font-family: din condensed; 
  color: white;
  float: left;

}

nav {
    text-align:  right;
    margin-right: 0px;
    font-family: futura !important; 
     
}

nav ul li {
		color: white; 
          margin: 0.4em;
          font-size: 3em;
 }
 body {
      scroll-behavior: smooth;
      background-image: url('img/home.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; 
      background-color: black;
}

.whitelink {  
          text-decoration: none; 
           color: white !important;
         }

a:hover { 
        letter-spacing: 0.02em;}

a:active {
        text-decoration: underline;
        letter-spacing: 0.02em;
}

a:visited {
          text-decoration: underline;
}


h2 {
  text-align: center;
  margin: 0px;
  font-size: 5em !important;
  padding: 0 25% 0 25%;
  font-family: futura ;
  color: white !important; 
  }

h3 { 
    font-family: futura !important;
    font-size: 1em !important;
    margin: 5px; 
    position: relative;
    float: left;
    padding: 10px; 
    margin: 10px;
    top: 70%
}

.bottom_right {
              top: 80%;
              left: 50%;
}

.bottom_right2 {
              padding-top: 47% !important;
              left: 5%;
}


.bottom_right3 {
              padding-top: 45% !important;
              left: 5%;
}



#image2  { height: 100%;
	width: 100%;
}
#logo { height: 20%;
margin: 0px;
padding: 0px; }

#homeicon { 
font-size: 15px; 
color: black;}




body {
        font-family: 'Josefin Sans', sans-serif !important;
        }

section {
                display: inline !important;
                text-align: center !important;
                font-size: 100px ;
                color:  white;
                padding: 0em 30px 0px 30px;
                border-top: 10px;
                margin: 5px;

                }

.basso { padding: 70% 10% 0% 5%;

}

.bottone_rosa1 {color: white;
                 background-color: rgb(255, 77, 109);
                 text-decoration: none;
                 margin: 1.5em;
                              position: absolute;
                                top: 80%;
                                right: 5%;
                 font-size: 0.8em;
                 
}

.bottone_rosa2 {color: white;
                                background-color: rgb(255, 77, 109);
                                text-decoration: none !important;
                                padding: 0.6px;
                              position: absolute;
                                top: 80%;
                                right: 35%;
                               tw-border-spacing-x: 0;
								tw-border-spacing-y: 0; ;

                                margin: auto;
                                font-size: 80px ;
}

.bottone_rosa3 {color: white;
                                background-color: rgb(255, 77, 109);
                                text-decoration: none !important;
                                padding: 0.6px;
                              position: absolute;
                              top: 65%;
                              right: 45%;


                                margin: auto;
                                font-size: 80px ;
}

.white_text {
  color: white;
}


footer {
                color: grey;
                font-size: 50px;
                display: inline-block;
                background-color: black;
                padding: 5% 60% 1% 5%;
                margin: 0;

